.about-section {
  padding: 120px 0;
}

.about-section h1 {
  font-size: 84px;
  font-family: "Times New Roman";
  text-transform: uppercase;
}

.about-section h3 {
  font-family: Helvetica;
  padding: 8px 0;
  margin-bottom: 20px;
  font-style: italic;
}
