.project-section {
  background: black;
  padding-top: 120px;
  overflow: hidden;
}

.project-section h1 {
  font-size: 84px;
  font-family: "Times New Roman";
  text-transform: uppercase;
  color: white;
}
